Package: com.dao.griddy
Name: Griddy 随意摆(rootless)
Version: 1.0.5
Architecture: iphoneos-arm
Description: 让你的程序图标在桌面随意摆放；根据开源重新编译。
Maintainer: mikifp
Author: mikifp
Section: 嗨-工具
Depends: mobilesubstrate
Conflicts: com.mikifp.griddy, xyz.cypwn.griddy
Sileodepiction: https://xiangfeidexiaohuo.github.io/sileodepiction/griddy/js.json

